.button{
    background-color: #10f75d;
    border: none;
    padding: 12px 30px;
    text-align: center;
    font-size: 16px;
}
body {
    background-color: rgb(37, 211, 31);
    text-align: center;
    padding: 15px 32px;
    font-size: 16px;
    background-image: url(https://media.istockphoto.com/photos/texture-from-many-old-books-top-view-library-education-back-to-school-picture-id1224574877);

}
h1{
    color: rgb(156, 16, 121);
    font-size: 70px ;    
}
p{
    font-size: 14px;
}
img {
    opacity: 0.5;
   }
   h2{
    color: cyan;
  }     